

body {
	font-family: monospace;
}

/* XML comments */
div.comment {
	color: #555;
	white-space: pre;
}

/* XML processing instructions */
div.xmlpi {
	color: red;
}


/* This is a div around the markup for the child elements */
div.mixedcontent {
	margin-left: 10px;
}

/* The start and end tags get this class */
span.tag {
	color: #11a;
	padding: 1px;
}

/* attribute names */
span.attribute.name {
	color: #080;
}

/* ... and the values */
span.attribute.value {
	color: #77e;
}

/* namespace declarations */
span.namespace {
	color: #c55;
}

/* tag span elements whose content is collapsed */
span.tag.collapsed {
	background-color: #88e;
	color: white !important;
}

span.tag.open.collapsed {
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
}

span.tag.close.collapsed {
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}

div.element {
	margin: 1px 0 2px 0;
}

/* hide attributes and namespace declaration for collapsed elements */
span.tag.collapsed * {
	display: none;
}

/* JSON Format tweaks */


.nomixed > div.collapsed {
    display: inline-block;
}
.nomixed > .mixed {
    display: inline;
}

.append-comma:after {
    content:",";
}

/* JSON data types */

.key {
    font-weight: bold;
}
.string {
    color: #438512;
}
.boolean, .null, .number {
    color: #BF1515;
}
